@{
    ViewBag.Title = "Home Page";


}
<div class="hojrecontent">
    <h2>Welcome to Pet Star Hotel!</h2>
    <br />
    <p>Lorem ipsum dolor sit amet?</p>
    <br />
    <p>
        Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit.
    </p>
</div>

@section book{
    @Html.Partial("book")

}
