@using PetHotel.Models
@model IEnumerable<Price>

@{
    ViewBag.Title = "price";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h4>Prices</h4>
<br />
<br />
@{

    List<string> list = new List<string>();
    list.AddRange(Model.Select(c => c.Category).Distinct());


}
<ul id="submenu">
    <li class="k-item"><a>All Elements</a></li>
@{foreach (var item in list)
{
    <li class="k-item" ><a>@item</a></li>

}

}
</ul>

      <br />
<br />
<br />
@Html.TextBox("search")
<button class="btn" id="s-btn">Search</button>
<br />
<br />
@(Html.Kendo().Grid(Model).Name("grid")

.DataSource(dataSource =>
    dataSource.Ajax()
    .Read(read => read
        .Action("Price_Read", "Admin")
        )

    )


.Columns(col =>
{

    col.Bound(sps => sps.Spice).Filterable(true).Sortable(true);
    col.Bound(cat => cat.Category);
    col.Bound(pr => pr.Sum);


}).Filterable().Sortable())
<script>
    (function ($) {
        var data = null;
        $(".k-item a").on("click", function () {
            $('#menu-active').attr("id","")
            $(this).attr("id","menu-active")
            datafilter = $(this).html();
            if (datafilter !== "All Elements") {

                $("#grid").data("kendoGrid").dataSource.filter({ field: "Category", operator: "eq", value: datafilter });
                data = datafilter;

            }
            else {

                $("#grid").data("kendoGrid").dataSource.filter({});
                data = "";
            }
        })
        $("#s-btn").on("click", function (e) {
            var datafilter = $("#search").val();
            var filter = [];
            if (datafilter, data) {
                filter.push({ field: "Spice", operator: "contains", value: datafilter }, { field: "Category", operator: "eq", value: data });
                $("#grid").data("kendoGrid").dataSource.filter(filter);
            }
            else {

                $("#grid").data("kendoGrid").dataSource.filter({ field: "Spice", operator: "contains", value: datafilter });
            }

        })


    })(jQuery)

</script>